* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --container-width: 1110px;
  --basic-space: 1rem;
  --primary-color: #eeeff1;
  --secondary-color: #f9f9f9;
  --text-color: #727272;
}
html {
  font-family: roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color);
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
/*--------header-----------------------------*/
.header {
  background-color: var(--primary-color);
  padding-top: 79px;
}
.nav-link {
  text-decoration: none;
  color: #000;
  margin-right: 42px;
}
.nav-link:hover {
  color: #34547a;
}
/*-------------design-section-----------------------------*/
.design-section {
  background: var(--primary-color);
  padding: 151px 0 141px;
}
.design-title {
  color: #000;
  font-size: 48px;
  margin-bottom: 60px;
}
.design-text {
  max-width: 540px;
  padding-bottom: 20px;
}
.design-link {
  display: inline-block;
  width: 225px;
  height: 65px;
  background: #34547a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 19px 41px 20px;
  margin-top: 65px;
}
/*-------------about-section--------------------------------*/
.about-section {
  background: var(--secondary-color);
  padding: 112px 0 100px;
}
.section-title {
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}
.about-text,
.how-text {
  max-width: 540px;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto;
}
/*-----------------------------card-section---------------------*/
.card-section {
  background: #34547a;
  padding: 100px 0;
}
.card {
  max-width: 120px;
  float: left;
}
.card + .card {
  margin-left: 78px;
}
.card-image {
  margin: 5px 20px 0 0;
}
.wrapper {
  float: right;
}
.card-title,
.footer-title {
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}
.card-text {
  color: #fff;
  font-size: 16px;
}
.clearfix {
  clear: both;
}
/*---------------------------how-section-------------------*/
.how-section {
  background: var(--primary-color);
  padding: 100px 0;
}
.wrapper-video {
  aspect-ratio: 16/9;
  margin-top: 57px;
}
/*-------------------------footer-------------------------------*/
.footer {
  background: #34547a;
  padding: 50px 0;
}
.footer-text {
  color: #fff;
  font-size: 13px;
  margin-top: 10px;
}
