* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --container-width: 1320px;
  --basic-space: 1rem;
  --primary-color: #fff;
  --secondary-color: #eeefff;
  --text-color: #000;
}
html {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #e6e6f0;
}
#check-menu {
  display: none;
}
@media (max-width: 647px) {
  input [type="checkbox"] {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 3;
  }
  .label-burger {
    top: 25px;
    left: 5px;
    z-index: 3;
  }
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: black;
    position: absolute;
    transition: all 0.3s linear;
    opacity: 1;
  }
  .burger span:first-child {
    top: 10px;
  }
  .burger span:last-child {
    top: 30px;
  }
  .burger span:nth-child(2) {
    top: 20px;
  }
  #check-menu {
    display: none;
  }
  .menu {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
  }
  #check-menu:checked ~ .menu {
    max-width: 150px;
    max-height: 270px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  #check-menu:checked ~ .menu .link {
    max-width: 150px;
    background-color: #f5f5fa;
    padding: 10px 20px;
    border-radius: 20px;
  }
}
