@import "variables";
.header {
  .wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 50px;
    .wrap-left {
      grid-column: 1/2;
      grid-row: 1/3;
    }
    .wrap-right-top {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;
      .text {
        color: $primary-color;
      }
      .tel-link {
        color: $primary-color;
        text-decoration: none;
        font-weight: 700;
      }
      .image:hover {
        background-color: rgb(103, 103, 223);
      }
    }
    .wrap-right-bottom {
      grid-column: 2/3;
      grid-row: 2/3;
    }
    .menu {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
      .link {
        color: $secondary-color;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        padding-bottom: 3px;
      }
      .link:hover {
        color: #f0145a;
        border-bottom: 2px solid #f0145a;
      }
      .link:active {
        color: #f0145a;
      }
    }
  }
  input[type="radio"] {
    display: none;
  }
  label {
    position: relative;
    color: $primary-color;
    font-size: 12px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 5px 7px;
    text-transform: uppercase;
  }
  input[type="radio"]:checked + label {
    background-color: #f0145a;
    color: #fff;
  }
  label:hover {
    background-color: #e4e4ee;
  }
}
.section-card {
  padding: 60px 0;
  .section-title {
    margin: 0 auto 60px;
    max-width: 1080px;
    font-size: 38px;
    font-weight: 700;
    background: var(
      --Gradient-Red-Text,
      linear-gradient(90deg, #f0145a 0.84%, #ef8080 99.96%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 auto;
    .wrap-card {
      width: 400px;
      border-radius: 10px;
      .image {
        width: 100%;
        border-radius: 10px;
      }
      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .title {
        font-size: 16px;
        font-weight: 700;
        margin: 15px 0 5px;
        color: $text-color;
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        color: $primary-color;
      }
    }
  }
}
footer {
  margin: 30px auto;
  .wrapper {
    display: flex;
    justify-content: space-between;
    .top {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 21px;
      .top-text {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
      }
      .top-link {
        font-size: 12px;
        font-weight: 700;
        color: #24a3ff;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      gap: 10px;
      .tel-link {
        font-size: 16px;
        font-weight: 700;
        color: #46466e;
        text-decoration: none;
      }
      .social-link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: $secondary-color;
      }
      .image:hover {
        background-color: rgb(103, 103, 223);
      }
    }
    .wrap-right .text {
      color: #b3b3ba;
    }
  }
}
/*----------------header--------------*/
@media (max-width: 900px) {
  .header .wrapper {
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    .wrap-left {
      grid-row: 2/3;
      grid-column: 1/3;
    }
    .wrap-right {
      align-items: center;
      grid-row: 1/2;
      grid-column: 1/3;
      display: flex;
    }
    .wrap-right-bottom {
      grid-row: 3/4;
      grid-column: 1/3;
    }
    .nav {
      display: flex;
      flex-direction: column;
    }
    .menu {
      justify-content: flex-start;
      .link {
        margin: 5px 0;
      }
    }
  }
}
@media (max-width: 647px) {
  .header .wrapper {
    margin-top: 0;
  }
  .header .wrap-right-top {
    justify-content: space-between;
    margin-top: 10px;
  }
  .header .wrap-right .text {
    display: none;
  }
  .header .wrap-right {
    background-color: #f5f5fa;
  }
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .text {
    display: none;
  }
  .header .tel-link {
    margin-left: 95px;
  }
}
/*--------------card----------*/
@media (min-width: 1600px) {
  .container {
    width: 1600px;
  }
  .section-card .section-title {
    max-width: 1380px;
  }
  .section-card .wrapper {
    justify-content: center;
  }
  .section-card .wrapper .wrap-card {
    width: 493px;
    height: 460px;
    .image {
      max-width: 493px;
      height: 400px;
      object-fit: cover;
    }
  }
}
@media (max-width: 1320px) {
  .container {
    width: 1320px;
  }
  .section-card .section-title {
    width: 1080px;
  }
  .section-card .wrapper {
    justify-content: center;
  }
  .section-card .wrapper .wrap-card {
    max-width: 400px;
    height: 460px;
    .image {
      max-width: 400px;
      object-fit: cover;
    }
  }
}
@media (max-width: 1050px) {
  .container {
    width: 904px;
  }
  .section-card .section-title {
    width: 600px;
  }
  .section-card .wrapper {
    justify-content: center;
  }
  .section-card .wrapper .wrap-card {
    max-width: 260px;
    height: 460px;
    .image {
      max-width: 260px;
      height: 400px;
      object-fit: cover;
    }
  }
}
@media (max-width: 900px) {
  .container {
    width: 648px;
  }
  .section-card .section-title {
    width: 600px;
  }
  .section-card .wrapper {
    justify-content: center;
  }
  .section-card .wrapper .wrap-card {
    max-width: 294px;
    height: 460px;
    .image {
      max-width: 294px;
      height: 400px;
      object-fit: cover;
    }
  }
}
@media (max-width: 647px) {
  .container {
    width: 345px;
    margin: o auto;
  }
  .section-card .wrapper {
    gap: 30px;
  }
  .section-card .section-title {
    font-size: 30px;
    width: 315px;
  }
  .section-card .wrapper .wrap-card {
    max-width: 315px;
    height: 362px;
    .image {
      max-width: 315px;
      height: 300px;
      object-fit: cover;
    }
  }
}
/*----------footer----------*/
@media (max-width: 900px) {
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .wrap-right {
    margin-top: 30px;
  }
}
@media (max-width: 647px) {
  .footer .bottom {
    flex-direction: column;
  }
}
@media (max-width: 340px) {
  .footer .top {
    flex-direction: column;
  }
  .footer .text {
    text-align: center;
  }
}
@media (max-width: 647px) {
  .dot {
    display: none;
  }
}
