* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
  background: rgb(187, 221, 177);
}
#title {
  text-align: center;
  color: red;
}
a {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  background: rgb(97, 180, 19);
  color: inherit;
  border-radius: 5px;
  margin: 20px 0;
  padding: 5px 0;
}
.text {
  font-size: 20px;
  font-weight: 600;
}
li {
  font-size: 18px;
  line-height: 28px;
}
.btn {
  width: 150px;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 20px;
  background: green;
  color: rgb(70, 63, 63);
  margin: 20px 30px;
}
